doctype html
html
	head
		title
			| #{title}
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
		link(rel='stylesheet', href='/css/haeadercolor.css')
		link(rel='stylesheet', href='/css/nopage.css')
	body
		section.content(class="contentnpage")
			<div class="containernopage">
			<span class="npagediv1">401</span><br/>
			<span class="npagediv2">Unauthorized Access</span>
			</div>

