<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<script type="text/javascript" src="/adminlte/bootbox-master/dist/bootbox.min.js"></script>
<script type="text/javascript" src="/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/adminlte/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/adminlte/dist/js/app.min.js"></script>
<script type="text/javascript" src="/adminlte/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/adminlte/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript" src="/js/configuration.js"></script>
<script type="text/javascript" src="/js/styles.js"></script>
<script type="text/javascript" src="/js/commonjs/common.js"></script>
<script type='module' src="/js/commonjs/pushNotification.js"></script>
//- <script type="text/javascript" src="/js/commonjs/webSocket.js"></script>
<script type="text/javascript" src="/adminlte/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/adminlte/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/adminlte/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/adminlte/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/adminlte/timepicker/bootstrap-timepicker.min.js"></script>

//- <script type="text/javascript" src="https://git.coolaj86.com/coolaj86/local-storage.js"></script>
<script type="text/javascript" src="/adminlte/bootbox-master/dist/bootbox.min.js"></script>
//- <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
//- <script src="/socket.io/socket.io.js"></script>
//- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

//- <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>
//- <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-messaging.js"></script>



