footer.main-footer(class="txtcenter")
	.pull-right.hidden-xs 
		//- |  <b>Version</b> 2.3.7
	strong 
		| Copyright &copy; 2025
		a(href="https://smargtech.com/" target="_blank")  Smarg Technologies.
	|  All rights reserved.
.control-sidebar-bg