script(type='text/javascript', src='/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='/adminlte/dist/js/app.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/adminlte/select2/dist/js/select2.full.min.js')
script(type='text/javascript', src='/js/styles.js')
script(type='text/javascript', src='/js/timefilter.js')
script(type='text/javascript', src='/adminlte/datatables.net/js/jquery.dataTables.min.js')
script(type='text/javascript', src='/adminlte/datatables.net-bs/js/dataTables.bootstrap.min.js')
script(type='text/javascript', src='/adminlte/bootstrap-daterangepicker/daterangepicker.js')
script(type='text/javascript', src='/adminlte/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
script(type='text/javascript', src='/adminlte/timepicker/bootstrap-timepicker.min.js')
script(type='text/javascript', src='https://git.coolaj86.com/coolaj86/local-storage.js')
script(type='text/javascript', src='/adminlte/bootbox-master/dist/bootbox.min.js')


